{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Works Log</h2>
            </div>
        </div>
        <a class="btn btn-dark" href="/departments">To Departments</a>
        {% if current_user.is_authenticated %}
            <a class="btn btn-dark" href="new_job">Add a job</a>
        {% endif %}
        {% for job, leader in data %}
            {% if current_user.is_authenticated and (current_user.id == 1 or current_user.id == leader.id) %}
                <div class="row">
                    <div class="col-auto">
                        <div class="btn-group">
                            <a href="edit_job/{{ job.id }}", class="btn btn-warning">Edit job</a>
                            <a href="delete_job/{{ job.id }}", class="btn btn-danger">Delete job</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row"><div class="col"><h3>Action # {{ loop.index }}</h3></div></div>
            <div class="row" style="background-color: darkgray;">
                <div class="col">Title of activity</div>
                <div class="col">Team leader</div>
                <div class="col">Duration</div>
                <div class="col">List of collaborators</div>
                <div class="col">Is finished</div>
            </div>
            <div class="row" style="background-color: lightblue;">
                <div class="col">{{ job.job }}</div>
                <div class="col">{{ leader.name }} {{ leader.surname }}</div>
                <div class="col">{{ job.work_size }}</div>
                <div class="col">{{ job.collaborators }}</div>
                {% if job.is_finished %}
                    <div class="col" style="background-color: lightgreen;">Is finished</div>
                {% else %}
                    <div class="col" style="background-color: lightpink;">Is not finished</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}